.App {
    font-family: sans-serif;
    text-align: center;

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 70px;
    gap: 20px;
}